.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}
/* Profile */
.profile{
    display: grid;
}

.prifile-avatar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile img{
    border-radius: 100%;
    max-width: 100%;
}

.actions{
    display: grid;
    grid-template-columns: 1fr;
}
/* Info */
.info{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-row-gap: 10px;
}

.fullName{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info mat-card-header:hover{
    background: rgb(245,245,245);
}
/* Friends */
.friends{
    display: grid;
    max-height: 550px;
    overflow-x: hidden;
    overflow-x: auto;
    margin-bottom: 20px;
}

.friends .search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.friends .search mat-form-field{
    width: 70%;
}

.friends-list mat-card:hover{
    background: rgb(245,245,245);
}

.friends-list mat-card img:hover{
    cursor: pointer;
}
/* Feeds */
.feeds{
    display: grid;
    margin-bottom: 20px;
}

@media screen and (min-width: 591px) and (max-width: 950px){
    .profile{
        max-height: 350px;
    }
}

@media screen and (max-width: 590px){
    .wrapper{
        grid-template-columns: 1fr;
    }
}