<div class="wrapper" *ngIf="user">
    <div class="profile">
        <div class="prifile-avatar">
            <img mat-card-image src="https://www.freeiconspng.com/uploads/customers-icon-3.png">
            <!-- https://www.freeiconspng.com/uploads/customers-icon-3.png -->
            <!-- https://avatars1.githubusercontent.com/u/38696345?v=4 -->
        </div>

        <div class="actions">
            <button mat-raised-button color="primary">
                Изменить профиль
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <div class="info">
        <mat-card class="fullName">
            <mat-card-header>
                <mat-card-title>
                    {{user.userInfo.name}}
                    {{user.userInfo.lastName}}
                </mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card class="user-info">
            <mat-card-header>
                <mat-card-title>
                    Дата рождения
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.birthdate}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-header>
                <mat-card-title>
                    Страна
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.country}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-header>
                <mat-card-title>
                    Никнейм
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.nickname}}
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <mat-card class="friends">
        <mat-card-header>
            <mat-card-title> Друзья ({{user.friends.friendsList.length}}) </mat-card-title>
        </mat-card-header>

        <div class="search">
            <mat-form-field>
                <input matInput autocomplete="off">
            </mat-form-field>

            <button mat-mini-fab color="primary" matTooltip="Поиск">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="friends-list" *ngFor="let friend of user.friends.friendsList">
            <mat-card>
                <mat-card-header>
                    <img src="https://www.freeiconspng.com/uploads/customers-icon-3.png"
                    mat-card-avatar routerLink="/user/{{friend.userInfo.nickname}}">
                    <mat-card-title>
                        {{friend.userInfo.lastName}}
                        {{friend.userInfo.name}}
                    </mat-card-title>
                    <mat-card-subtitle> {{friend.userInfo.nickname}} </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="feeds">
        <mat-card-header>
            <mat-card-title>
                Лента
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>

<mat-spinner *ngIf="!user"></mat-spinner>