<div *ngIf="loginService.getLoginState() | async" class="menu-block"> 
  <mat-card class="menu-item" routerLink="/home">
    <mat-card-header>
      <img src="../../../assets/outline-person_outline-24px.svg">
      <span>Мой профиль</span>
    </mat-card-header>
  </mat-card>
  
  <mat-card class="menu-item">
    <mat-card-header>
      <img src="../../../assets/outline-mail-24px.svg">
      <span matBadge="79" matBadgeOverlap="false" matBadgeColor="warn">Сообщения</span>
    </mat-card-header>
  </mat-card>

  <mat-card class="menu-item">
    <mat-card-header>
      <img src="../../../assets/outline-group-24px.svg">
      <span matBadge="4" matBadgeOverlap="false" matBadgeColor="warn">Друзья</span>
    </mat-card-header>
  </mat-card>

  <mat-card class="menu-item" routerLink="/search">
    <mat-card-header>
      <img src="../../../assets/outline-search-24px.svg">
      <span>Поиск</span>
    </mat-card-header>
  </mat-card>

  <mat-card class="menu-item">
    <mat-card-header>
      <img src="../../../assets/outline-settings-24px.svg">
      <span>Настройки</span>
    </mat-card-header>
  </mat-card>

  <mat-card class="menu-item exit" (click)="exit()">
    <mat-card-header>
      <img src="../../../assets/outline-power_settings_new-24px.svg">
      <span>Выйти</span>
    </mat-card-header>
  </mat-card>
</div>