<div class="wrapper" *ngIf="init">
    <div class="profile">
        <div class="prifile-avatar">
            <img mat-card-image src="https://www.freeiconspng.com/uploads/customers-icon-3.png">
            <!-- https://www.freeiconspng.com/uploads/customers-icon-3.png -->
            <!-- https://avatars1.githubusercontent.com/u/38696345?v=4 -->
        </div>

        <div class="actions">
            <button mat-raised-button color="primary" (click)="addToFriends()"
            *ngIf="justUser">
                Добавить в друзья
                <mat-icon>person_add</mat-icon>
            </button>

            <button mat-raised-button color="primary" *ngIf="incoming"
            (click)="confirmFriend()">
                Принять заявку
            </button>
            <button mat-raised-button color="warn" *ngIf="friend">Удалить из друзей</button>
            <button mat-raised-button *ngIf="outgoing">Отменить заявку</button>

            <button mat-raised-button color="primary">
                Написать сообщение
                <mat-icon>mail</mat-icon>
            </button>
        </div>
    </div>

    <div class="info">
        <mat-card class="fullName">
            <mat-card-header>
                <mat-card-title>
                    {{user.userInfo.name}}
                    {{user.userInfo.lastName}}
                </mat-card-title>
            </mat-card-header>
        </mat-card>

        <mat-card class="user-info">
            <mat-card-header>
                <mat-card-title>
                    Дата рождения
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.birthdate}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-header>
                <mat-card-title>
                    Страна
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.country}}
                </mat-card-subtitle>
            </mat-card-header>

            <mat-card-header>
                <mat-card-title>
                    Никнейм
                </mat-card-title>
                <mat-card-subtitle>
                    {{user.userInfo.nickname}}
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <mat-card class="friends">
        <mat-card-header>
            <mat-card-title> Друзья (192) </mat-card-title>
        </mat-card-header>

        <div class="search">
            <mat-form-field>
                <input matInput autocomplete="off">
            </mat-form-field>

            <button mat-mini-fab color="primary" matTooltip="Поиск">
                <mat-icon>search</mat-icon>
            </button>
        </div>

        <div class="friends-list">
            <mat-card>
                <mat-card-header>
                    <img src="https://www.freeiconspng.com/uploads/customers-icon-3.png" mat-card-avatar>
                    <mat-card-title>
                        Андрей Ильченко
                    </mat-card-title>
                    <mat-card-subtitle> admin </mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
    </mat-card>

    <mat-card class="feeds">
        <mat-card-header>
            <mat-card-title>
                Лента
            </mat-card-title>
        </mat-card-header>
    </mat-card>
</div>

<mat-spinner *ngIf="!init"></mat-spinner>