.card{
    width: 45%;
}

.card-body{
    display: grid;
    grid-template-columns: 1fr;
}

.contact{
    float: left;
    margin-left: 2%;
    margin-bottom: 20px;
}

.main{
    float: right;
    margin-right: 2%;
    margin-bottom: 20px;
}

.submit-block{
    width: 60%;
    margin: auto;
}

.submit{
    width: 100%;
    margin: auto;
}

mat-icon.hide:hover{
    cursor: pointer;
}