.wrapper{
    display: grid;
    grid-template-columns: 3fr 7fr;
    grid-column-gap: 10px;
}

.interlocutors{
    height: 80vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.interlocutors mat-card:hover{
    cursor: pointer;
    background: rgb(245, 245, 245);
}
.interlocutors mat-card:active{
    cursor: pointer;
    background: rgb(225, 225, 225);
}

.dialog{
    height: 80vh;
}

.messages{
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
}

.text{
    height: 15%;
}

.text mat-form-field{
    width: 80%;
}

.msg-text{
    height: 70px;
}

@media screen and (max-width: 900px){
    .wrapper{
        grid-template-columns: 1fr;
    }

    .interlocutors{
        height: auto;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 10px;
        display: flex;
    }

    .interlocutors mat-card{
        display: inline-block;
        border-radius: 0px;
    }
}