.toolbar{
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.logo{
    margin-left: 20px;
    outline: none;
}

.logo:hover{
    cursor: pointer;
}

.text{
    margin-left: 10px;
    font-size: 40px;
}

@media screen and (max-width: 300px){
    .logo{
        margin-left: -15px;
    }
}